/*GENERALITIES*/

@import "normalize";
@import "box-sizing";
@import "root";
@import "body";
@import "d-flex";
@import "container";

  /*HEADER*/

header {
    background-color: var(--bgGeneral);
    padding: 1rem 0;

    .dFlex {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        img {
            width: 80px;
            display: block;
            transition: .5s;

            &:hover {
                filter: opacity(40%) blur(.5px);
            }
        }

        ul {
            padding: 0;
            margin: 0;
            display: flex;
            list-style: none;

            li {
                padding: 2rem 0 2rem 2rem;

                .active {
                    color: var(--colorRed);
                    border-bottom: none;

                    &:hover {
                        border-bottom: none;
                    }
                }

                a {
                    padding: 1rem;
                    color: var(--colorWhite);
                    border-bottom: 2px solid black;
                    transition: .5s;

                    &:hover {
                        color: var(--colorRed);
                        border-bottom: 2px solid var(--colorRed);
                        ;
                    }
                }
            }
        }
    }

}

/*MAIN*/

main {
    
    /*GENERAL*/
    /*INDEX*/
    video {
        position:fixed;
        // position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
      }
    .homeFlex {
        text-align: center;
        padding: 25rem 0;

        .homeGeneralLeft {
            width: 40%;
            .radiusImg{
                width: 450px;
                height: 450px;
                border-radius: 50%;
                overflow: hidden;

                img {
                    position: relative;
                    left: -110px;
                    width: 150%;
                    // padding-top: 4rem;
                    display: block;
    
                }
            }
        }

        .homeGeneralRight {
            width: 60%; 
            padding-left: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1{
                font-size: 7rem;
            }
        }
    }
    /*ABOUT*/
    .aboutFlex {
        display: flex;
        padding: 4rem 0;

        .aboutGeneralLeft {
            width: 60%;
        }

        .aboutGeneralRight {
            width: 40%;

            .radiusImg{
                margin: 0 auto;
                width: 350px;
                height: 350px;
                border-radius: 50%;
                overflow: hidden;
            }

            img {
                position: relative;
                left:-50px;
                top:-60px;
                display: block;
                width: 150%;
            }
        }
    }

    /*PROJECTS*/
    .projectsFlex {
        display: flex;
        padding: 4rem 0;

        .projectsGeneralLeft {
            width: 60%;
        }

        .projectsGeneralRight {
            width: 40%;

            img {
                display: block;
                width: 100%;
            }
        }
    }

    /*PHOTO/VIDEO*/

    .mediaFLex {
        display: flex;
        padding: 4rem 0;

        .mediaGeneralLeft {
            width: 70%;
            padding-right: 5rem;
        }

        .mediaGeneralRight {
            width: 30%;
            
            .radiusImg{
                margin: 0 auto;
                width: 350px;
                height: 350px;
                border-radius: 50%;
                overflow: hidden;
            }

            img {
                position: relative;
                top:-20px;
                width: 100%;
                display: block;
            }
        }
    }

    /*CONTACT*/
    .contactFlex {
        display: flex;
        padding: 4rem 0 0 0;

        .contactGeneralLeft {
            width: 60%;
        }

        .contactGeneralRight {
            width: 40%;

            img {
                width: 100%;
                display: block;
            }
        }
    }

    .contact {

        .socialMediaContact {
            display: flex;

            p {
                padding: 5rem 5rem 0 2rem;
                font-size: 2rem;
                font-weight: bold;
                margin: 0;

                a {
                    color: #333;
                    transition: .5s;

                    i {
                        color: #333;
                        transition: .5s;
                    }
                    .fa-linkedin:hover {
                        color: rgb(34, 34, 255);
                    }
                    .fa-square-instagram:hover{
                        color: purple;
                    }
                    .fa-square-youtube:hover{
                        color: red;
                    }
                    .fa-square-github:hover{
                        color:rgb(250, 101, 47)
                    }
                }
            }
        }
    }

    .contactForm {
        margin: 5rem auto;

        fieldset {

            border: 3px solid black;

            legend {
                font-size: 3rem;
                padding: 0 1rem;
            }

            p {
                margin: 0 0 1rem 0;
            }

            .contactNameEmail,
            .contactMessage {
                padding: 1rem;

                input {
                    width: 100%;
                    padding: 1rem;
                    border: none;
                    background: transparent;
                    border-bottom: 2px solid black;
                    transition: .5s;

                    &:focus {
                        outline: none;
                        border-bottom: 2px solid rgb(188, 0, 0);
                    }
                }
            }

            .contactNameEmail {
                display: flex;

                p {
                    width: 33.33%;
                    padding: 2rem;
                }
            }

            .contactMessage {

                p {
                    padding: 2rem;
                }

                textarea {
                    width: 100%;
                    padding: 1rem;
                    background: transparent;
                    border: none;
                    border-bottom: 2px solid black;
                    transition: .5s;

                    &:focus {
                        outline: none;
                        border-bottom: 2px solid rgb(188, 0, 0);
                    }
                }
            }



            button {
                display: block;
                margin: 2rem auto;
                padding: 1rem 0;
                width: 25%;
                border-radius: .5rem;
                border: 1px solid black;
                background-color: #F9B004;
                cursor: pointer;
                transition: .5s;

                &:hover {
                    background-color: #b47f02;
                    border: 1px solid #7E0100;
                    color: #fff;
                }
            }
        }
    }
}

/*FOOTER*/

footer {

    background-color: var(--bgGeneral);
    color: var(--colorWhite);
    padding: .5rem 0;
    
    .dFlex {
        align-items: center;
        justify-content: space-between;
    }

    .socialMedia {
        p {
            margin: 0;
            padding-bottom: 2rem;
        }

        a {
            padding-right: 1rem;

            i {
                color: var(--colorWhite);
                transition: .5s;
            }
            .fa-linkedin-in:hover {
                color: rgb(34, 34, 255);
            }
            .fa-instagram:hover{
                color: purple;
            }
            .fa-youtube:hover{
                color: red;
            }
            .fa-github:hover{
                color:rgb(250, 101, 47);
            }
        }
    }

    .copyright{
        p {
            font-size: 1.2rem;
        }
    }

    .contactFooter {
        i {
            color: var(--colorRed);
        }

        a {
            color: var(--colorWhite);
            transition: .5s;

            &:hover {
                color: var(--colorRed);
            }
        }
    }
}