/*GENERALITIES*/

@import "normalize";
@import "box-sizing";
@import "root";
@import "body";
@import "d-flex";
@import "container";
  /*HEADER*/
header {
    padding: 1rem 0;
    position: sticky;
    top:0px;
    z-index: 5;
    transition: .5s;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

         .anchorLogo{
            border-bottom: none;

            &:hover{
                border-bottom: none;
            }
         }
        img {
            width: 80px;
            display: block;
            transition: .5s;

            &:hover {
                filter: opacity(40%) blur(.5px);
            }
        }

        #icons{
            cursor: pointer;
            display: none;
        }
    }

}
.homeHeaderWhite{
    background-color: transparent;

    a{
        padding: 1rem;
        color: #333;
        border-bottom: 2px solid transparent;
        transition: .5s;

        &:hover {
            color: var(--colorRed);
            border-bottom: 2px solid var(--colorRed);
            
        }
    }
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        list-style: none;

        li {
            padding: 2rem 0 2rem 2rem;

            .active {
                color: var(--colorRed);
                border-bottom: 2px solid var(--colorRed);

            }
        }
    }
}

.homeHeaderBlack{
    background-color: rgba(0, 0, 0, .88);
    backdrop-filter: blur(10px);

    a {
        padding: 1rem;
        color: var(--colorWhite);
        border-bottom: 2px solid transparent;
        transition: .5s;

        &:hover {
            color: var(--colorRed);
            border-bottom: 2px solid var(--colorRed);
        }
    }
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        list-style: none;

        li {
            padding: 2rem 0 2rem 2rem;

            .active {
                color: var(--colorRed);

                 &:hover {
                    border-bottom: transparent;
                }
            }
        }
    }
}

/*MAIN*/

main {
    position: relative;
    /*GENERAL*/
    /*INDEX*/

    #div{
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    
    }
   
    .homeFlex {
        text-align: center;
        padding: 15rem 0;
        h1{
            font-size: 7rem;
        }
        h2{
            margin-top: 2rem;
        }
        p{
            margin-top: 15rem;
            
            a{
                margin: 0;
                color: #fff;
                // border: 3px solid #7E0100;
                // background: rgb(126,1,0);
                background: linear-gradient(82deg, rgba(126,1,0,0.7357536764705883) 30%, rgba(89,65,169,0.7413559173669468) 100%);
                padding: 3rem;
                border-radius: 4rem;
            }
        }
    }
 
    /*ABOUT*/
    .aboutFlex {
        display: flex;
        padding: 10rem 0; 
        align-items: center;

        .aboutGeneralLeft {
            width: 60%;
        }

        .aboutGeneralRight {
            width: 40%;

            .radiusImg{
                margin: 0 auto;
                width: 350px;
                height: 350px;
                border-radius: 50%;
                overflow: hidden;
            }

            img {
                position: relative;
                left:-50px;
                top:-60px;
                display: block;
                width: 150%;
            }
        }
    }

    .aboutContent{
        article{
            padding: 5rem 0 0 0;
            text-align: center;
            .aboutContentText{
                padding: 5rem 0;

                p{
                    text-align: left;
                    font-size: 2rem;
                }
            }
        }
        h4{
            padding: 3rem 0;
        }
        ul {
            padding: 0;
            list-style-type: none;
            li{
                padding: 2rem 0;
            }
        }
        .aboutContentFlex{
            display: flex;
            justify-content: space-between;
            align-items: end;
            padding: 5rem 0;

            div{
                width: 20%;
                // padding-top: 5rem;

                img{
                    width: 100%;
                }
                 i{
                    font-size: 3rem;
                     color: #5941A9;
                 }

                p{
                    margin: 0;
                    margin-top: 2rem;
                }
            }
        }

        .funFactsElt{
            padding: 5rem 0;

            div{
                width: 25%;

                img{
                    width: 60%;
                }
            }
        }
    }

    /*PROJECTS*/
    .projectsFlex {
        display: flex;
        align-items:center;
        padding: 10rem 0; 

        .projectsGeneralLeft {
            width: 60%;
        }

        .projectsGeneralRight {
            width: 40%;

            .radiusImg{
                margin: 0 auto;
                width: 350px;
                height: 350px;
                border-radius: 50%;
                overflow: hidden;
            }

            img {
                position: relative;
                top:-100px;
                display: block;
                width: 100%;
                filter: brightness(85%);
            }
        }
    }

    .projectsContent{
        article{
            margin: 5rem 0;
            text-align: center;

            p{
                text-align: left;
                margin: 0;
                padding: 5rem 0;
                font-size: 2rem;
            }
        }

        .mockupProject{
            .articleLeft{
                position: relative;
                transform: translateX(-10%);
                opacity: 0;
                transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;

                a {
                    position: absolute;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                }
            }
            .articleRight{
                position: relative;
                overflow: hidden;
                transform: translateX(10%);
                opacity: 0;
                transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;

                a {
                    position: absolute;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                }
            }

            .activeTranslateArticle{
                transform: translateX(0%);
                opacity: 1;
            }
            article{
                background-color: #fafafa;
                box-shadow: 0px 0px 16px 8px rgba(0,0,0,0.1);
                margin: 10rem 0;
                padding: 3rem;
                display: flex;
                border: 1px solid transparent ;
                border-radius: 3rem;
                
                .imageMockupProject{
                    width: 50%;
                    display: flex;
                    align-items: center;

                    img{
                        width: 100%;
                        display: block;
                        // cursor: pointer;
                    }
                }
                .textMockupProject{
                    width: 50%;

                    p{
                        text-align: justify;
                        font-size: 1.8rem;
                        padding: 5rem 0;
                    }

                    ul{
                        padding: 5rem 0;
                        margin:0;
                        list-style-type:none;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        li{
                            font-size: 1.8rem;
                            padding: 1rem 2rem;
                            border: 1px solid black;
                            border-radius: 1.5rem;
                            background-color: #7E0100;
                            color: #fff;
                            // width: 50%; // POUR METTRE EN DEUX COLONNE !!!!!
                        }
                    }
                }
                span{
                    border-left: .5px solid #333;
                    display: inline-block;
                    height: auto;
                    margin: 0 5rem;
                }
            }

            article:nth-child(2), article:nth-child(4), article:nth-child(6), article:nth-child(8){
                flex-direction: row-reverse;
            }
        }
    }

    /*PHOTO/VIDEO*/

    .mediaFLex {
        display: flex;
        align-items: center;
        padding: 10rem 0;

        .mediaGeneralLeft {
            width: 60%;
            padding-right: 5rem;
        }

        .mediaGeneralRight {
            width: 40%;
            
            .radiusImg{
                margin: 0 auto;
                width: 350px;
                height: 350px;
                border-radius: 50%;
                overflow: hidden;
            }

            img {
                position: relative;
                left: -115px;
                width: 160%;
                display: block;
            }
        }
    }

    .mediaContent{
        article{
            text-align: center;
            padding: 3rem 0;

            .mediaContentText{
                padding-top: 5rem;

                p{
                    text-align: left;
                    font-size: 2rem;
                }
            }
        }
        .mediaArticle{
            a{
                color:#333;
                transition: .5s;

                &:hover{
                    color: #7E0100;
                }
            }
        }

        .grid{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 1rem;
            justify-items: center;
            margin: 5rem 0;

            article{
                cursor: pointer;
                position:relative;
                // width: 100%;
                // height: 500px;
                // max-height: 500px;
                padding: 0;

                .title{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    font-size: 2rem;
                    font-family: arial, sans-serif;
                    color: #fff;
                    background-color: rgba(0, 0, 0, .2);
                    letter-spacing: .4rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;

                    &:hover{
                        opacity: 1;
                        backdrop-filter: blur(2px) brightness(80%);
                    }
                }

                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            article:nth-child(16){

                display: none;
            }
        }
    }

    /*BLOG*/
    .blogFlex{
        display: flex;
        align-items: center;
        padding: 10rem 0;

        .blogGeneralLeft{
            width: 60%;
            padding-right: 5rem;
        }

        .blogGeneralRight{
            width: 40%;

            .radiusImg{
                margin: 0 auto;
                width: 350px;
                height: 350px;
                border-radius: 50%;
                overflow: hidden;
            }

            img {
                position: relative;
                left:-60px;
                width: 150%;
                display: block;
            }
            .japanFlag{
                left: -150px;
            }
            .passportStamp{
                left: -135px;
                top:-70px;
                width: 180%;
            }
        }
    }
    .blogContent{
        article{
            text-align: center;
            margin: 5rem 0;
            .blogQuote{
                text-align: center;
                padding: 2rem 0;
                font-size: 2rem;
                font-style: oblique;
                font-weight: bold;
            }
            p{
                text-align: left;
                padding: 2rem 0;
                font-size: 2rem;
            }
        }

        .imgBlogArticle{
            position: relative;
            margin: 0 auto;
            width: 90%;
            height: 500px;
            border:10px solid #FAFAFA;
            box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.65);
            border-radius: .5rem;

            .title{
                position: absolute;
                width: 100%;
                height: 100%;
                font-size: 2rem;
                font-family: arial, sans-serif;
                color: #fff;
                background-color: rgba(0, 0, 0, .2);
                letter-spacing: .4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                z-index: 0;

                &:hover{
                    opacity: 1;
                    border-radius: .5rem;
                    backdrop-filter: blur(2px) brightness(80%);
                }
            }

            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .blogArticlesGeneral{

        .blogArticles{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .card{
                width: 45%;
                background-color: #fafafa;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                transition: transform 0.2s, box-shadow 0.2s;
                margin: 5rem 0;

                &:hover{
                    transform: translateY(-15px);
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
                }

                .cardImage{
                    width: 100%;
                    height: 300px;
                    display: block;
                    object-fit: cover;
                }

                .cardContent{
                    padding: 20px;
                    text-align: center;
                }

                h2{
                    font-size: 20px;
                    margin-bottom: 10px;
                }

                p{
                    font-size: 14px;
                    color: #888;
                    margin-bottom: 20px;
                }

                a{
                    display: inline-block;
                    padding: 10px 20px;
                    background-color:var(--colorRed);
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                    text-decoration: none;
                    transition: background-color .5s ease;

                    &:hover{
                        background-color: #5941A9;
                    }
                }
            }
        }
    }

    /*CONTACT*/
    .contactFlex {
        display: flex;
        align-items: center;
        padding: 10rem 0;

        .contactGeneralLeft {
            width: 60%;
        }

        .contactGeneralRight {
            // position: relative;
            width: 40%;

            .radiusImg{
                margin: 0 auto;
                width: 350px;
                height: 350px;
                border-radius: 50%;
                overflow: hidden;

                img {
                    display: block;
                    width: 170%;
                    position: relative;
                    top: -95px;
                    left:-105px;
                    filter: brightness(85%);
                }
            }
        }
    }

    .contact {

        .socialMediaContact {
            display: flex;

            p {
                padding: 5rem 5rem 0 2rem;
                font-size: 2rem;
                font-weight: bold;
                margin: 0;

                a {
                    color: #333;
                    transition: .5s;

                    i {
                        color: #333;
                        transition: .5s;
                    }
                    .fa-linkedin:hover {
                        color: rgb(34, 34, 255);
                    }
                    .fa-square-instagram:hover{
                        color: purple;
                    }
                    .fa-square-youtube:hover{
                        color: red;
                    }
                    .fa-square-github:hover{
                        color:rgb(250, 101, 47)
                    }
                }
            }
        }
    }

    .contactForm {
        margin: 5rem auto;

        fieldset {

            border: 3px solid black;

            legend {
                font-size: 3rem;
                padding: 0 1rem;
            }

            p {
                margin: 0 0 1rem 0;
            }

            .contactNameEmail,
            .contactMessage {
                padding: 1rem;

                input {
                    width: 100%;
                    padding: 1rem;
                    border: none;
                    background: transparent;
                    border-bottom: 2px solid black;
                    transition: .5s;

                    &:focus {
                        outline: none;
                        border-bottom: 2px solid rgb(188, 0, 0);
                    }
                }
            }

            .contactNameEmail {
                display: flex;

                p {
                    width: 33.33%;
                    padding: 2rem;
                }
            }

            .contactMessage {

                p {
                    padding: 2rem;
                }

                textarea {
                    width: 100%;
                    padding: 1rem;
                    background: transparent;
                    border: none;
                    border-bottom: 2px solid black;
                    transition: .5s;

                    &:focus {
                        outline: none;
                        border-bottom: 2px solid rgb(188, 0, 0);
                    }
                }
            }



            button {
                display: block;
                margin: 2rem auto;
                padding: 1rem 0;
                width: 25%;
                border-radius: .5rem;
                border: 1px solid black;
                background-color: #F9B004;
                cursor: pointer;
                transition: .5s;

                &:hover {
                    background-color: #b47f02;
                    border: 1px solid #7E0100;
                    color: #fff;
                }
            }
        }
    }
}

/*FOOTER*/

footer {

    background-color: var(--bgGeneral);
    color: var(--colorWhite);
    //padding: .5rem 0;
    
    .dFlex {
        align-items: center;
        justify-content: space-between;
    }

    .socialMedia {
        p {
            margin: 0;
            padding-bottom: 2rem;
        }

        a {
            padding-right: 1rem;

            i {
                color: var(--colorWhite);
                transition: .5s;
            }
            .fa-linkedin-in:hover {
                color: rgb(34, 34, 255);
            }
            .fa-instagram:hover{
                color: purple;
            }
            .fa-youtube:hover{
                color: red;
            }
            .fa-github:hover{
                color:rgb(250, 101, 47);
            }
        }
    }

    .copyright{
        p {
            font-size: 1.2rem;
        }
    }

    .contactFooter {
        i {
            color: var(--colorRed);
        }

        a {
            color: var(--colorWhite);
            transition: .5s;

            &:hover {
                color: var(--colorRed);
            }
        }
    }
}

@import "media-query";